/* 颜色 */
/* 主色，高亮色，选中状态颜色 */
$color-main: #44c1d8;
/* 背景色 */
$color-bg: #fff;
/* 价格标签色 */
$color-price-tag: #ff5500;
/* 一般文本颜色 */
$color-text: #333;
/* 部分 icon 颜色 */
$color-icon: #666;
/* 部分 icon 颜色 */
$color-icon-second: #c8c8c8;
/* 二级文本 */
$color-text-second: #c8c8c8;
/* 不可选颜色 */
$color-disabled: #c8c8c8;

/* 字号 */
/* 首页的“您好！用户名称”，大尺寸价格 */
$font-size-h1: 25px;
/* 详情页大标题 */
$font-size-h2: 20px;
/* 一般组件标题 */
$font-size-h3: 15px;
/* 大部分正文 */
$font-size-text: 12px;
/* 说明内容，icon 后缀文字 */
$font-size-small: 10px;
